
<svg class="u-visibility-hidden" xmlns="http://www.w3.org/2000/svg">
<symbol viewBox="0 0 8 9" id="svg-arrow" xmlns="http://www.w3.org/2000/svg">
  <path d="M.5 4.8h5.92M3.27 1L7.4 5.13M3.27 8.45L7 4.72" stroke="#0094E9" stroke-width="1.19" fill="none"></path>
</symbol>
</svg>

<h1> Empezando </h1>

<ul>
<li>Construye la solución de pagos que necesita tu negocio</li>
<li>Herramientas listas para usar (SDKs, botones de pago, módulos y/o <i>plugins</i>).</li>
<li>API robusto y flexible para crear la experiencia de pago que mejor se adapte a tu negocio.</li>
</ul>
----[mla]----

<div class="grid grid--33">
<div class="card card-highlight grid__item">

  <span class="card-highlight-icon">
    <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
      <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
        <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
        <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
      </g>
    </svg>
  </span>

  <h3>Pagos</h3>

  <p>Ofrece a tus clientes pagar con tarjeta de crédito, débito o el medio de pago que prefieran.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-payment-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
      Mobile Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

<!--
<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Suscripciones</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
  </span>
  <h3>Suscripciones</h3>
  <p>Crea planes de suscripción y recibe pagos con la frecuencia que elijas.</p>
  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/button/create-subscription"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/advanced-payments/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>
-->
<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
  </span>

  <h3>MarketPlace  </h3>
  <p>Utiliza oAuth y podrás proveer cualquier solución de pago.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/marketplace/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

<div class="card card-highlight grid__item">
  <%= highlight_icon_tag("point") %>
  <h3>Pagos Presenciales  </h3>
  <p>Recibe pagos cuando y donde quieras.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/mp-point/introduction"%>">
      Mercado Pago Point
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/qr-payments/introduction"%>">
      Pagos desde codigo QR
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

</div>

------------
----[mlm]----

<div class="grid grid--33">
<<<<<<< HEAD
<div class="card card-highlight grid__item">

  <span class="card-highlight-icon">
    <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
      <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
        <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
        <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
      </g>
    </svg>
  </span>

  <h3>Pagos</h3>

  <p>Ofrece a tus clientes pagar con tarjeta de crédito, débito o el medio de pago que prefieran.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
      Mobile Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>
=======
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Pagos</h3>

    <p>Ofrece a tus clientes pagar con tarjeta de crédito, débito o el medio de pago que prefieran.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Botón
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
        Web Tokenize Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-payment-checkout/introduction"%>">
        Smart Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
        Mobile Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>
>>>>>>> 346fd1fb57495370d3f398c226fbd50469d6bb2a

<!--
<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Suscripciones</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
  </span>
  <h3>Suscripciones</h3>
  <p>Crea planes de suscripción y recibe pagos con la frecuencia que elijas.</p>
  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/button/create-subscription"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/advanced-payments/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>
-->
<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
  </span>

  <h3>MarketPlace  </h3>
  <p>Utiliza oAuth y podrás proveer cualquier solución de pago.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/advanced-payments/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

<div class="card card-highlight grid__item">
  <%= highlight_icon_tag("point") %>
  <h3>Pagos Presenciales  </h3>
  <p>Recibe pagos cuando y donde quieras.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/mp-point/introduction"%>">
      Mercado Pago Point
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/qr-payments/introduction"%>">
      Pagos desde codigo QR
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

</div>

------------

----[mlb]----

<div class="grid grid--33">
<div class="card card-highlight grid__item">

  <span class="card-highlight-icon">
    <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
      <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
        <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
        <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
      </g>
    </svg>
  </span>

  <h3>Pagos</h3>

  <p>Ofrece a tus clientes pagar con tarjeta de crédito, boleto o el medio de pago que prefieran.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-payment-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
      Mobile Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

<!--
<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Suscripciones</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
  </span>
  <h3>Suscripciones</h3>
  <p>Crea planes de suscripción y recibe pagos con la frecuencia que elijas.</p>
  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/button/create-subscription"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/advanced-payments/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>
-->
<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
  </span>

  <h3>MarketPlace  </h3>
  <p>Utiliza oAuth y podrás proveer cualquier solución de pago.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/advanced-payments/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

<div class="card card-highlight grid__item">
  <%= highlight_icon_tag("point") %>
  <h3>Pagos Presenciales  </h3>
  <p>Recibe pagos cuando y donde quieras.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/mp-point/introduction"%>">
      Mercado Pago Point
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/qr-payments/introduction"%>">
      Pagos desde codigo QR
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

</div>

------------

----[mco]----
<div class="grid grid--33">
<<<<<<< HEAD
<div class="card card-highlight grid__item">

  <span class="card-highlight-icon">
    <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
      <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
        <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
        <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
      </g>
    </svg>
  </span>

  <h3>Pagos</h3>

  <p>Ofrece a tus clientes pagar con tarjeta de crédito o el medio de pago que prefieran.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
      Mobile Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>
=======
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Pagos</h3>

    <p>Ofrece a tus clientes pagar con tarjeta de crédito o el medio de pago que prefieran.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Botón
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
        Web Tokenize Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-payment-checkout/introduction"%>">
        Smart Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
        Mobile Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>
>>>>>>> 346fd1fb57495370d3f398c226fbd50469d6bb2a

<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
  </span>

  <h3>MarketPlace  </h3>
  <p>Utiliza oAuth y podrás proveer cualquier solución de pago.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

<div class="card card-highlight grid__item">
  <%= highlight_icon_tag("point") %>
  <h3>Pagos Presenciales  </h3>
  <p>Recibe pagos cuando y donde quieras.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/qr-payments/introduction"%>">
      Pagos desde codigo QR
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

</div>

------------

----[mpe]----

<div class="grid grid--50">
<div class="card card-highlight grid__item">

  <span class="card-highlight-icon">
    <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
      <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
        <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
        <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
      </g>
    </svg>
  </span>

  <h3>Pagos</h3>

  <p>Ofrece a tus clientes pagar con tarjeta de crédito, débito o el medio de pago que prefieran.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
      Mobile Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
  </span>

  <h3>MarketPlace  </h3>
  <p>Utiliza oAuth y podrás proveer cualquier solución de pago.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/advanced-payments/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

</div>

------------

----[mlc]----

<div class="grid grid--50">
<<<<<<< HEAD
<div class="card card-highlight grid__item">

  <span class="card-highlight-icon">
    <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
      <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
        <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
        <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
      </g>
    </svg>
  </span>

  <h3>Pagos</h3>

  <p>Ofrece a tus clientes pagar con tarjeta de crédito o el medio de pago que prefieran. </p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
      Botón
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
      Web Tokenize Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
      Mobile Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>
=======
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Pagos</h3>

    <p>Ofrece a tus clientes pagar con tarjeta de crédito o el medio de pago que prefieran. </p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Botón
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
        Web Tokenize Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-payment-checkout/introduction"%>">
        Smart Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
        Mobile Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>
>>>>>>> 346fd1fb57495370d3f398c226fbd50469d6bb2a

<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
  </span>

  <h3>MarketPlace  </h3>
  <p>Utiliza oAuth y podrás proveer cualquier solución de pago.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/advanced-payments/introduction"%>">
      Advanced Payments
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

</div>

------------

----[mlu]----

<div class="grid grid--50">

  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Pagos</h3>

    <p>Ofrece a tus clientes pagar con tarjeta de crédito o efectivo usando el medio de pago que prefieran.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Botón
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-tokenize-checkout/introduction"%>">
        Web Tokenize Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-payment-checkout/introduction"%>">
        Smart Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>
>>>>>>> 346fd1fb57495370d3f398c226fbd50469d6bb2a

<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
    <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
  </span>

  <h3>MarketPlace  </h3>
  <p>Utiliza oAuth y podrás proveer cualquier solución de pago.</p>

  <nav class="card-actions">
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
      Smart Checkout
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
    <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
      API
      <svg class="arrow-link__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
      </svg>
    </a>
  </nav>
</div>

</div>

------------

<h2> ¿No eres desarrollador? </h2>

<div class="grid grid--50">

<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
     <svg width="113" height="83" viewBox="0 0 113 83" xmlns="http://www.w3.org/2000/svg"><title>Group 2</title><g fill="none" fill-rule="evenodd"><g fill="#009EE3"><path d="M97.201 8.997v4.48H1.004v-4.48a8 8 0 0 1 8-8h80.197a8 8 0 0 1 8 8z" fill-opacity=".4"/><path d="M96.2 72.24c0 1.32-.76 2.44-1.67 2.44H3.68c-.91 0-1.68-1.12-1.68-2.44V9c0-3.86 3.14-7 7-7h80.2c3.86 0 7 3.14 7 7v63.24zM89.2 0H9C4.04 0 0 4.03 0 9v63.24c0 2.45 1.65 4.44 3.68 4.44h90.85c2.02 0 3.67-1.99 3.67-4.44V9c0-4.97-4.04-9-9-9z"/><path d="M27.056 6.696H9.16a1 1 0 1 0 0 2h17.896a1 1 0 1 0 0-2"/></g><path fill="#FFF" d="M49 21h62v62H49z"/><path fill="#5BC0ED" d="M76 34h22v22H76zM61 61h22v22H61zM91 61h22v22H91z"/></g></svg>
  </span>
  <h3>Módulos</h3>
  <p>Contamos con <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins_sdks"%>"> modulos </a> para los principales plataformas de <i>e-commerce</i>.</p>
</div>

<div class="card card-highlight grid__item">
  <span class="card-highlight-icon">
     <svg width="110" height="81" viewBox="0 0 110 81" xmlns="http://www.w3.org/2000/svg"><title>Group 26</title><g fill="#009EE3" fill-rule="evenodd"><path d="M82 24a27.192 27.192 0 0 0-6.298-13.475 27.577 27.577 0 0 0-6.216-5.353A27.369 27.369 0 0 0 54.946 1C41.528 1 30.382 10.634 28 23.37c2.903.41 5.888.63 8.9.63 11.938 0 23.112-3.32 32.586-9.112V24H82z" fill-opacity=".4"/><path d="M54.5 2.301c-14.447 0-26.199 11.752-26.199 26.198 0 14.447 11.752 26.2 26.199 26.2 14.447 0 26.199-11.753 26.199-26.2C80.699 14.053 68.947 2.3 54.5 2.3M54.5 57C38.785 57 26 44.215 26 28.499 26 12.784 38.785 0 54.5 0 70.216 0 83 12.784 83 28.499 83 44.215 70.216 57 54.5 57M30.405 66.295H79.6c7.306 0 13.414 5.368 14.388 12.41H16.015c.971-7.05 7.066-12.41 14.39-12.41m65.915 12.41C95.329 70.385 88.18 64 79.6 64H30.405c-8.6 0-15.731 6.377-16.72 14.705H1.16c-.64 0-1.16.513-1.16 1.147S.52 81 1.16 81h107.68c.64 0 1.16-.514 1.16-1.148 0-.634-.52-1.147-1.16-1.147H96.32z"/></g></svg>
  </span>
  <h3>Partners</h3>
  <p>Con <a href="https://partners.mercadopago.com/">Mercado Pago Partners Program</a> cuentas con especialistas con experiencia probada y efectiva para ayudarte a recibir pagos en el lenguaje y plataforma que necesites.</p>
</div>

</div>
----[mla]----
<h2 id="community"> Comunidad </h2>

<div class="grid grid--50">
<div class="card card-highlight grid__item">
  <h3>Workshops y Eventos</h3>
  <p>Enterate de los próximos eventos en nuestro <a href="https://www.meetup.com/es-ES/dx-mercadopago/">grupo de meetup</a>. </p>
</div>

<div class="card card-highlight grid__item">
  <h3>Soporte</h3>
    <p> <b> Si tienes consultas, llena el: </b>  <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/support"%>"> Formulario de soporte</a></p>
    <p> <b> Sugerencias e Ideas: </b> <a href="https://github.com/mercadopago">Aceptamos Pull Requests</a></p>
    <p> <b> Status page: </b> <a href="https://status.mercadopago.com/">Check de service status</a></p>
  </ul>
</div>
</div>
------------
----[mlb, mlm, mlc, mco, mpe, global]----
<h2 id="community"> Comunidad </h2>

<div class="grid grid--50">
<div class="card card-highlight grid__item">
  <h3>Workshops y Eventos</h3>
  <p>En breve novedades sobre eventos y <i>workshops</i>  para desarrolladores. </p>
</div>

<div class="card card-highlight grid__item">
  <h3>Soporte</h3>
    <p> <b> Si tienes consultas, llena el: </b>  <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/support"%>"> Formulario de soporte</a></p>
    <p> <b> Sugerencias e Ideas: </b> <a href="https://github.com/mercadopago">Aceptamos Pull Requests</a></p>
    <p> <b> Status page: </b> <a href="https://status.mercadopago.com/">Check de service status</a></p>
  </ul>
</div>


  </div>
  ------------
<div>
  <h2>Mantenete informado</h2>
  <h3>Recibe las ultimas noveddes sobre nuestra API e invitaciones especiales a eventos.</h3>
  <div class="grid grid--50">
    
    <div class="card card-highlight grid__item71">
      <div>
        texto
      </div>
      <div class="andes-widther">
        <label id="contact-label" class="andes-form-control andes-form-control--textfield  andes-width--50 contact-float-left">
          <div class="andes-form-control__control">
            <span class="andes-form-control__label">Email</span>
            <input id="contact-field" name="developer_email" width="150" rows="1" class="andes-form-control__field" required="">
          </div>
          <div class="andes-form-control__border"></div>
            <span class="andes-form-control__message">Ingresa un email valido</span>
        </label>
        <div class="andes-button andes-button--filled">
          <span id="submit-support-form" class="andes-button__content"> Suscribirme </span>
        </div>
      </div>  
    </div>
    <div class="grid__item">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="326px" height="184px" viewBox="0 0 326 184" version="1.1">
          <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
          <title>Desktop_empty</title>
          <desc>Created with Sketch.</desc>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Ilustraciones" transform="translate(-145.000000, -109.000000)">
                  <g id="Group-3-Copy-5" transform="translate(146.000000, 110.000000)">
                      <g id="Group-95-Copy-5">
                          <g id="Group-95-Copy-4">
                              <polygon id="Stroke-14-Copy-4" fill-opacity="0.3" fill="#B0B0B0" transform="translate(269.024303, 147.279050) scale(-1, 1) translate(-269.024303, -147.279050) " points="274.228545 176.419825 262.333136 176.419825 262.333136 118.424146 275.715471 118.138276"/>
                              <g id="Group-32" transform="translate(302.045113, 48.932112)" stroke="#60C1F8" stroke-linecap="round" stroke-width="1.13399998">
                                  <path d="M-1.687539e-14,7.38822292 L13.0423327,7.38822292" id="Stroke-37-Copy"/>
                                  <path d="M-0.00324981725,7.38822292 L13.0455825,7.38822292" id="Stroke-37-Copy" transform="translate(6.521166, 7.388223) rotate(-270.000000) translate(-6.521166, -7.388223) "/>
                              </g>
                              <g id="Group-92" transform="translate(276.424984, 79.546439)">
                                  <polygon id="Rectangle" stroke="#DBDBDB" stroke-width="1.25999998" stroke-linecap="round" stroke-linejoin="round" points="2.36158862 8.66347355 23.6158862 8.66347355 22.0977221 38.5918367 3.12067067 38.5918367"/>
                                  <path d="M2.49675668,0.811802202 C2.6374701,0.334839165 3.14757078,0 3.73319888,0 L22.2442759,0 C22.8297878,0 23.3400047,0.334839165 23.4807181,0.811802202 L23.8116445,1.93378147 L24.4030824,3.93794252 L1.57439241,3.93794252 L1.88939991,2.86967399 L2.49675668,0.811802202 Z" id="Stroke-11" stroke="#DBDBDB" stroke-width="1.25999998" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M23.6089315,28.3531862 L2.36853168,28.3531862 C2.03704287,28.3531862 1.76222059,28.0972555 1.73928414,27.7675066 L0.788718701,14.0615474 C0.763602768,13.6977365 1.052436,13.3890046 1.41796625,13.3890046 L24.5594969,13.3890046 C24.9250271,13.3890046 25.2139642,13.6977365 25.1887444,14.0615474 L24.2380752,27.7675066 C24.2152426,28.0972555 23.9403165,28.3531862 23.6089315,28.3531862" id="Fill-13" fill="#E8E8E8"/>
                                  <path d="M23.6089315,28.3531862 L8.11125878,28.3531862 L4.96792703,28.3531862 L2.36853168,28.3531862 C2.03704287,28.3531862 1.76222059,28.0972555 1.73928414,27.7675066 L0.788718701,14.0615474 C0.763602768,13.6977365 1.052436,13.3890046 1.41796625,13.3890046 L5.7757883,13.3890046 L8.11208905,13.3890046 L24.5594969,13.3890046 C24.9250271,13.3890046 25.2139642,13.6977365 25.1887444,14.0615474 L24.2380752,27.7675066 C24.2152426,28.0972555 23.9403165,28.3531862 23.6089315,28.3531862 Z" id="Stroke-15" stroke="#DBDBDB" stroke-width="1.25999998"/>
                                  <path d="M17.3183165,20.8710954 C17.3183165,23.2634604 15.3799108,25.2028322 12.9887374,25.2028322 C10.597564,25.2028322 8.65915827,23.2634604 8.65915827,20.8710954 C8.65915827,18.4787303 10.597564,16.5393586 12.9887374,16.5393586 C15.3799108,16.5393586 17.3183165,18.4787303 17.3183165,20.8710954" id="Fill-17" fill="#FFFFFF"/>
                                  <path d="M15.3378339,8.66347355 L0.784499444,8.66347355 C0.351304757,8.66347355 3.55271368e-15,8.30169941 3.55271368e-15,7.8555949 L3.55271368e-15,4.74582117 C3.55271368e-15,4.29961217 0.351304757,3.93794252 0.784499444,3.93794252 L25.1928739,3.93794252 C25.6262715,3.93794252 25.9774748,4.29961217 25.9774748,4.74582117 L25.9774748,7.8555949 C25.9774748,8.30169941 25.6262715,8.66347355 25.1928739,8.66347355 L21.5611011,8.66347355" id="Stroke-27" stroke="#DBDBDB" stroke-width="1.25999998" stroke-linecap="round" stroke-linejoin="round"/>
                              </g>
                              <polygon id="Stroke-14-Copy-4" fill-opacity="0.3" fill="#B0B0B0" points="59.8464765 171.694294 42.3532275 171.694294 42.3532275 118.801948 62.0331326 118.138276"/>
                              <path d="M13.6455704,176.732414 L78.0981499,176.616722" id="Stroke-37-Copy-7" stroke="#CECECE" stroke-width="1.25999998" stroke-linecap="round" transform="translate(45.864537, 176.877135) scale(-1, 1) translate(-45.864537, -176.877135) "/>
                              <path d="M228.406015,118.138276 L309.779891,118.138276 C310.677974,118.138276 311.406015,118.866316 311.406015,119.7644 L311.406015,176.419825 L311.406015,176.419825" id="Stroke-37-Copy-10" stroke="#CECECE" stroke-width="1.25999998" stroke-linecap="round"/>
                              <path d="M270.075204,176.813619 L287.932331,176.813619" id="Stroke-37-Copy-11" stroke="#CECECE" stroke-width="1.25999998" stroke-linecap="round"/>
                              <path d="M295.781979,176.813619 L324.248128,176.419825" id="Stroke-37-Copy-12" stroke="#CECECE" stroke-width="1.25999998" stroke-linecap="round"/>
                              <path d="M24.962406,118.138276 L111.502257,118.138276 C112.40034,118.138276 113.128381,118.866316 113.128381,119.7644 L113.128381,171.694294 L113.128381,171.694294" id="Stroke-37-Copy-8" stroke="#CECECE" stroke-width="1.25999998" stroke-linecap="round" transform="translate(69.045394, 144.916285) scale(-1, 1) translate(-69.045394, -144.916285) "/>
                              <path d="M0,176.813619 L5.51037344,176.813619" id="Stroke-37-Copy-5" stroke="#CECECE" stroke-width="1.25999998" stroke-linecap="round" transform="translate(2.755187, 176.813619) scale(-1, 1) translate(-2.755187, -176.813619) "/>
                              <rect id="Rectangle" fill="#FFFFFF" x="49.4379933" y="19.6897126" width="216.478957" height="156.730112"/>
                              <g id="Group-13" transform="translate(87.000000, 52.000000)">
                                  <path d="M0,9.64135886 L141.12542,9.64135886 L141.12542,1.99769579 C141.12542,0.894398869 140.231234,0 139.135108,0 L87.0062839,0 L1.60325897,0 C0.717803492,0 0,0.724668924 0,1.59207433 L0,9.64135886 Z" id="Fill-25" fill="#B0B0B0" opacity="0.4"/>
                                  <path d="M0,4.73773124 L0,3.73869221 C0,2.5001569 1.07345202,1.49612565 2.3942423,1.49612565 L137.240416,1.49612565 C138.56272,1.49612565 139.634658,2.50063539 139.634658,3.74442801 L139.634658,11.1374845 L9.0602641,11.1374845" id="Rectangle" stroke="#484848" stroke-width="0.800000012" stroke-linecap="round" stroke-linejoin="round"/>
                                  <rect id="Rectangle-Copy-2" fill="#CBE9FF" x="6.22807018" y="35.6059376" width="97.1578947" height="11.28" rx="1.80000003"/>
                                  <rect id="Rectangle-Copy-8" fill="#60C1F8" x="110.859649" y="48.283634" width="19.9298246" height="10.0266667" rx="1.5"/>
                                  <path d="M139.634658,11.1139307 L139.634658,38.542901" id="Rectangle-Copy" stroke="#484848" stroke-width="0.800000012" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M9.0630096,43.7690092 L19.7559764,43.7690092" id="Line" stroke="#484848" stroke-width="0.800000012" stroke-linejoin="round"/>
                                  <path d="M139.634658,66.4705799 L139.634658,91.6549224 C139.634658,92.8945961 138.630065,93.8995502 137.398978,93.8995502 L2.23568093,93.8995502 C1.00094845,93.8995502 0,92.8908087 0,91.6549224 L0,85.9202134" id="Rectangle-Copy-3" stroke="#484848" stroke-width="0.800000012" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M22.3966617,43.7690092 L81.5877193,43.8969673" id="Line-Copy-10" stroke="#484848" stroke-width="0.800000012" stroke-linejoin="round"/>
                                  <path d="M9.0630096,38.7556759 L39.3174203,38.7556759" id="Line-Copy-16" stroke="#60C1F8" stroke-width="0.800000012" stroke-linejoin="round"/>
                                  <path d="M9.0630096,25 L29.3174206,25" id="Line-Copy-17" stroke="#000000" stroke-width="0.800000012" stroke-linejoin="round"/>
                                  <path d="M9.0630096,68.603634 L26.8612796,68.603634" id="Line-Copy-21" stroke="#60C1F8" stroke-width="0.800000012" stroke-linejoin="round"/>
                                  <ellipse id="Oval-3" fill="#484848" cx="6.15354812" cy="6.31680508" rx="1" ry="1"/>
                                  <ellipse id="Oval-3-Copy" fill="#484848" cx="9.63199157" cy="6.31680508" rx="1" ry="1"/>
                                  <ellipse id="Oval-3-Copy-2" fill="#484848" cx="12.6135145" cy="6.31680508" rx="1" ry="1"/>
                                  <path d="M95.7342662,52.043634 L10.1036647,52.043634 C9.33910021,52.043634 8.71929825,52.6800415 8.71929825,53.4621672 L8.71929825,60.1003008 C8.71929825,60.883735 9.34850778,61.518834 10.111202,61.518834 L98.257219,61.518834 C99.0259462,61.518834 99.6491228,60.8764025 99.6491228,60.0866387 L99.6491228,59.4884333" id="Path-2" stroke="#48421E" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M126.80027,52.043634 L109.873436,52.043634 C109.042239,52.043634 108.368421,52.7250859 108.368421,53.5450493 L108.368421,60.017682 C108.368421,60.8468908 109.031522,61.5190974 109.866397,61.5190974 L126.80027,61.5190974 C127.627579,61.5190974 128.298246,60.8542497 128.298246,60.0221189 L128.298246,59.4886402" id="Path-2" stroke="#48421E" stroke-width="0.800000012" stroke-linecap="round" stroke-linejoin="round" transform="translate(118.333333, 56.781366) scale(1, -1) translate(-118.333333, -56.781366) "/>
                              </g>
                              <polyline id="Rectangle" stroke="#484848" stroke-width="1.25999998" stroke-linecap="round" stroke-linejoin="round" points="49.5809801 156.69246 49.4379933 19.6897126 265.91695 19.6897126 266.059937 176.546855"/>
                              <polyline id="Rectangle" stroke="#484848" stroke-width="1.25999998" stroke-linecap="round" stroke-linejoin="round" points="66.7563099 160.302328 66.7563099 35.8733861 248.598634 35.8733861 248.787745 176.546855"/>
                              <polygon id="Fill-25-Copy" fill="#B0B0B0" opacity="0.4" points="121.072848 170.906706 188.771722 170.906706 188.771722 160.668055 121.072848 160.668055"/>
                              <polygon id="Fill-19" fill="#F7D032" points="190.346114 166.181175 158.07107 166.193776 190.346114 166.214253"/>
                              <g id="Group-45" transform="translate(34.481265, 161.455643)">
                                  <path d="M153.865554,0.00314578172 L153.865554,7.87782093 L91.7494796,7.87782093 L91.7494796,0.00314578172 L0.00881571643,0.00314578172 C-0.201688788,0.250884829 3.2209431,20.3309412 25.1000338,20.3444397 L228.932189,20.4772938 C250.810413,20.4915028 245.890046,-0.293519162 246.084034,0.00314578172 L153.865554,0.00314578172 Z" id="Fill-18" fill="#60C1F8"/>
                                  <path d="M153.984074,0.00314578172 L153.984074,7.87782093 L91.8679995,7.87782093 L91.8679995,0.00314578172 L0.127335607,0.00314578172 C-0.0831688972,0.250884829 3.33946299,20.3309412 25.2185537,20.3444397 L229.050709,20.4772938 C250.928933,20.4915028 246.008566,-0.293519162 246.202554,0.00314578172 L153.984074,0.00314578172 Z" id="Fill-18" stroke="#484848" stroke-width="1.25999998" stroke-linecap="round" stroke-linejoin="round"/>
                              </g>
                              <g id="Group-94" transform="translate(0.000000, 32.367347)" stroke="#60C1F8" stroke-linecap="round" stroke-width="1.13399998">
                                  <g id="Group-32" transform="translate(18.721805, 2.342311)">
                                      <path d="M3.46389584e-14,7.0077079 L13.0423327,7.0077079" id="Stroke-37-Copy"/>
                                      <path d="M-0.00324981725,7.0077079 L13.0455825,7.0077079" id="Stroke-37-Copy" transform="translate(6.521166, 7.007708) rotate(-270.000000) translate(-6.521166, -7.007708) "/>
                                  </g>
                                  <path d="M1.32795967,1.24489796 L1.32795967,1.24489796" id="Stroke-37-Copy-2" transform="translate(1.327960, 1.244898) rotate(-270.000000) translate(-1.327960, -1.244898) "/>
                              </g>
                              <g id="Group-93" transform="translate(6.142202, 48.830487)" stroke="#60C1F8" stroke-linecap="round" stroke-width="1.13399998">
                                  <path d="M0,3.58790319 L7.08476586,3.58790319" id="Stroke-37-Copy"/>
                                  <path d="M-0.0017435489,3.57717211 L6.99904316,3.59863427" id="Stroke-37-Copy-2" transform="translate(3.498650, 3.587903) rotate(-270.000000) translate(-3.498650, -3.587903) "/>
                              </g>
                              <g id="Group-93-Copy-2" transform="translate(30.545284, 4.725531)" stroke="#60C1F8" stroke-linecap="round" stroke-width="1.13399998">
                                  <path d="M0,3.58790319 L7.08476586,3.58790319" id="Stroke-37-Copy"/>
                                  <path d="M-0.00174354891,3.57717211 L6.99904316,3.59863427" id="Stroke-37-Copy-2" transform="translate(3.498650, 3.587903) rotate(-270.000000) translate(-3.498650, -3.587903) "/>
                              </g>
                              <g id="Group-93-Copy-4" transform="translate(275.363305, 0.000000)" stroke="#60C1F8" stroke-linecap="round" stroke-width="1.13399998">
                                  <path d="M0,3.58790319 L7.08476586,3.58790319" id="Stroke-37-Copy"/>
                                  <path d="M-0.00174354891,3.57717211 L6.99904316,3.59863427" id="Stroke-37-Copy-2" transform="translate(3.498650, 3.587903) rotate(-270.000000) translate(-3.498650, -3.587903) "/>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </div> 
  </div>
  <div>
      <a href="#">Desuscribir</a>
  </div>
</div>
